<!DOCTYPE html>
<html lang="en" ng-app="Rapor">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rapor Admin</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script src="js/jquery-1.11.1.min.js"></script>
	<!--AngularJS-->
	<script src="assets/angularjs/angular.min.js"></script>
	<script src="assets/angularjs/angular-animate.min.js"></script>
	<script src="assets/angularjs/angular-route.min.js"></script>
	<script src="assets/angularjs/node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
	<script src="views/Apps.js"></script>
	<script src="views/Controller.js"></script>
	<!-- Controller -->
	<!-- <script src="views/Controller/Home.js"></script>
	<script src="views/Controller/Siswa.js"></script>
	<script src="views/Controller/Guru.js"></script>
	<script src="views/Controller/Mapel.js"></script>
	<script src="views/Controller/PnK.js"></script>
	<script src="views/Controller/Ekskul.js"></script>
	<script src="views/Controller/Nilai_Mapel.js"></script>
	<script src="views/Controller/Nilai_PnK.js"></script>
	<script src="views/Controller/Nilai_Ekskul.js"></script>
	<script src="views/Controller/Input_Nilai.js"></script>
	<script src="views/Controller/Daftar_Nilai.js"></script>
	<script src="views/Controller/UserController.js"></script> -->
</head>

<body>
	<!-- Header -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" ui-sref="Home"
					ui-sref-opts="{reload: true}"><span><u><b>Rapor</b></u></span>&nbsp;<u>Admin</u></a>
				<div class="nav navbar-top-links navbar-right">
					<div ng-controller="view">
						<button class="btn btn-lg btn-success btn-neutral" ng-click="Logout()"><em class="fa fa-power-off"></em>&nbsp;Logout</button>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- Menu Utama  -->
	<div id="sidebar-collapse" class="col-sm-3 col-lg-3 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="image/Admin.jpg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">MUGIWARA NO ADMIN</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>online</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- <div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search...">
			</div>
		</form> -->
		<!-- Menu Samping -->
		<ul class="nav menu">
			<li class="active"><a href="" ui-sref="Home" ui-sref-opts="{reload: true}"><span><em
							class="fa fa-home">&nbsp;</em><b>HOME</b></span></a></li>
			<li><a ui-sref="Siswa" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>Input Data Siswa</b></span></a></li>
			<li><a ui-sref="Guru" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>Input Data Guru</b></span></a></li>
			<li><a ui-sref="PnK" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>Input Data Perilaku & Kepribadian</b></span></a></li>
			<li><a ui-sref="Mapel" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>Input Data Mata Pelajaran</b></span></a></li>
			<li><a ui-sref="Ekskul" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>Input Data Ekstrakurikuler</b></span></a></li>
			<li><a ui-sref="Kelas" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>Input Data Kelas</b></span></a></li>
			<li><a ui-sref="Tahun" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>Input Data Tahun Ajaran</b></span></a></li>
			<li><a ui-sref="WaliKelas" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>&nbsp;Input Data Wali Kelas</b></span></a></li>
			<!-- Mau di Satukan di Input Nilai -->
			<li><a ui-sref="Nilai_Mapel" ui-sref-opts="{reload: true}">&nbsp;<span
						class="fa fa-arrow-right">&nbsp;</span><b>Input Nilai Mata Pelajaran</b></a></li>
			<li><a ui-sref="Nilai_PnK" ui-sref-opts="{reload: true}">&nbsp;<span
						class="fa fa-arrow-right">&nbsp;</span><b>Input Nilai Perilaku & Kepribadian</b></a></li>
			<li><a ui-sref="Nilai_Ekskul" ui-sref-opts="{reload: true}">&nbsp;<span
						class="fa fa-arrow-right">&nbsp;</span><b>Input Nilai Ekstrakurikuler</b></a></li>
			<!-- Akhir Mau di hapus -->
			<li><a ui-sref="Input_Nilai" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>INPUT NILAI</b></span></a></li>
			<li><a ui-sref="Daftar_Nilai" ui-sref-opts="{reload: true}">&nbsp;<span><em
							class="fa fa-arrow-right">&nbsp;</em><b>DAFTAR NILAI</b></span></a></li>
			<!-- LogOUT -->
			<!-- <li> <a href="" ng-click="Logout()"><span><em class="fa fa-power-off">&nbsp;</em><b>Logout</b></span></a>
			</li> -->
		</ul>
	</div>
	<!--/Sidebar-->
	<div class="col-sm-9 col-sm-offset-3 col-lg-9 col-lg-offset-3 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
						<em class="fa fa-home"></em>
					</a></li>
				<li class="active">Rapor</li>
			</ol>
		</div>
	</div>

	<!-- Main Content -->
	<div class="col-sm-9 col-sm-offset-3 col-lg-9 col-lg-offset-3 main">
		<div>
			&nbsp;
		</div>
		<div>
			<ui-view></ui-view>
		</div>
	</div>
	<!-- script -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>