<div class="panel panel-primary">
    <div class="panel-heading"><b>DAFTAR NILAI SISWA</b>
        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span></div>
    <div class="panel-body">
        <div class="col-md-20">
            <table class="table">
                <tr>
                    <td rowspan="3">NO</td>
                    <td rowspan="3">NISN</td>
                    <td rowspan="3">NAMA SISWA</td>
                    <td rowspan="3">L/P</td>
                    <td colspan="13">KKM / MATA PELAJARAN / NILAI</td>
                    <td colspan="4">PERILAKU DAN KEPRIBADIAN</td>
                    <td colspan="4">ABSENSI</td>
                    <td rowspan="3">RANKING</td>
                    <td colspan="2">PENGEMBANAGN DIRI</td>
                </tr>
                <tr>
                    <td></td>
                    <td rowspan="2">Jumlah</td>
                    <td rowspan="2">Rata-rata</td>
                    <td rowspan="2"></td>
                </tr>
            </table>
        </div>
    </div>
</div>