<H2>ADD NEW EKSTRAKURIKULER</H2>
<div class="">
    <form>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="disabled-input" class=" form-control-label">Ekstrakurikuler</label>
            </div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" ng-model="Input.Ekskul">
            </div>
        </div>
        <div class="row form-group">
            <button ng-click="Simpan()" class="btn btn-primary">Simpan</button>
        </div>
    </form>
    <table>
        <tr>
            <td>ID Ekstrakurikuler</td>
            <td>Ekstrakurikuler</td>
        </tr>
        <tr ng-repeat="item in DataEkskul">
            <td>{{item.id_ekskul}}</td>
            <td>{{item.Ekskul}}</td>
        </tr>
    </table>
</div>