<div class="panel panel-primary">
    <div class="panel-heading"><b>TAMBAH DATA PENILAIAN</b>
        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span></div>
    <div class="panel-body">
        <div class="col-md-12">
            <form role="form">
                <div class="row form-group">
                    <div class="col col-md-2">
                        <label for="disabled-input" class=" form-control-label">NISN</label>
                    </div>
                    <div class="col-12 col-md-3">
                        <input type="text" class="form-control" placeholder="NISN" ng-model="Input.NISN">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-md-12">
                        <table class="table">
                            <tr>
                                <th>MATA PELAJARAN</th>
                                <th width="300px">NILAI</th>
                                <th width="90px">SAKIT</th>
                                <th width="90px">IZIN</th>
                                <th width="90px">ALPA</th>
                            </tr>
                            <tr ng-repeat="item in DataMapel">
                                <th>
                                    <label for="disable-input" class="form-control-label"
                                        ng-model="Input.id_mapel"><br>{{item.Mata_Pelajaran}}</label>
                                </th>
                                <td>
                                    <input type="range" min="0" max="100" value="0" class="form-control"
                                        ng-model="item.Nilai"><code><b>{{item.Nilai}}</b></code>
                                </td>
                                <td>
                                    <input type="number" value="0" class="form-control" placeholder="Sakit"
                                        ng-model="item.Sakit">
                                </td>
                                <td>
                                    <input type="number" value="0" class="form-control" placeholder="Izin"
                                        ng-model="item.Izin">
                                </td>
                                <td>
                                    <input type="number" value="0" class="form-control" placeholder="Alpa"
                                        ng-model="item.Alpa">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- PERILAKU DAN KEPRIBADIAN -->
                <div class="row form-group">
                    <div class="col-12 col-md-7">
                        <table class="table">
                            <tr>
                                <th>PERILAKU DAN KEPRIBADIAN</th>
                                <th>KETERANGAN</th>
                            </tr>
                            <tr ng-repeat="item in DataPnK">
                                <th>
                                    <label for="disable-input" class="form-control-label"
                                        ng-model="Input.id_pnk"><br>{{item.Kategori}}</label>
                                </th>
                                <td>
                                    <select class="form-control"
                                        ng-options="item.ket as item.ket for item in Ket track by item.ket"
                                        ng-model="item.Keterangan" ng-change="Pilih()"></select>
                                    <!-- <input type="text" class="form-control" placeholder="Nilai"
                                        ng-model="item.Keterangan"> -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- EKSTRAKURIKULER -->
                <div class="row form-group">
                    <div class="col-12 col-md-7">
                        <table class="table">
                            <tr>
                                <th>EKSTRAKURIKULER</th>
                                <th>KETERANGAN</th>
                            </tr>
                            <tr ng-repeat="item in DataEkskul">
                                <th>
                                    <label for="disable-input" class="form-control-label"
                                        ng-model="Input.id_ekskul"><br>{{item.Ekskul}}</label>
                                </th>
                                <td>
                                    <select class="form-control"
                                        ng-options="item.ketE as item.ketE for item in KetEks track by item.ketE"
                                        ng-model="item.Keterangan" ng-change="Pilih()"></select>
                                    <!-- <input type="text" class="form-control" placeholder="Nilai"
                                        ng-model="item.Keterangan"> -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- AKHIR -->
                <div class="row form-group">
                    <div class="col col-md-5">
                        <button ng-click="Simpan()" class="btn btn-md btn-primary">SIMPAN</button>
                        &nbsp;
                        <button ng-click="Clear()" class="btn btn-md btn-primary">CLEAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading"><b>DATA SISWA</b></div>
    <div class="panel-body">
        <div class="col-md-14">
            <table class="table">
                <tr>
                    <th>NISN</th>
                    <th>NAMA SISWA</th>
                    <th>MATA PELAJARAN</th>
                    <th>NILAI</th>
                    <th>SAKIT</th>
                    <th>IZIN</th>
                    <th>ALPA</th>
                </tr>
                <tr ng-repeat="item in DataNilai_Mapel">
                    <td>{{item.NISN}}</td>
                    <td>{{item.Nama_Siswa}}</td>
                    <td>{{item.Mata_Pelajaran}}</td>
                    <td>{{item.Nilai}}</td>
                    <td>{{item.Sakit}}</td>
                    <td>{{item.Izin}}</td>
                    <td>{{item.Alpa}}</td>
                </tr>
                <tr>
                    <th width="100px">NISN</th>
                    <th>NAMA SISWA</th>
                    <th width="150px" colspan="2">KATEGORI</th>
                    <th width="100px" colspan="3">KETERANGAN</th>
                </tr>
                <tr ng-repeat="item in DataNilai_PnK">
                    <td>{{item.NISN}}</td>
                    <td>{{item.Nama_Siswa}}</td>
                    <td colspan="2">{{item.Kategori}}</td>
                    <td colspan="3">{{item.Keterangan}}</td>
                </tr>
                <tr>
                    <th>NISN</th>
                    <th>NAMA SISWA</th>
                    <th colspan="2">EKSTRAKURIKULER</th>
                    <th colspan="3">KETERANGAN</th>
                </tr>
                <tr ng-repeat="item in DataNilai_Ekskul">
                    <td>{{item.NISN}}</td>
                    <td>{{item.Nama_Siswa}}</td>
                    <td colspan="2">{{item.Ekskul}}</td>
                    <td colspan="3">{{item.Keterangan}}</td>
                </tr>
            </table>
        </div>
        <!-- <div class="col-md-5">
            <table>
                <tr>
                    <th width="100px">NISN</th>
                    <th width="150px">KATEGORI</th>
                    <th width="100px">KETERANGAN</th>
                </tr>
                <tr ng-repeat="item in DataNilai_PnK">
                    <td>{{item.NISN}}</td>
                    <td>{{item.Kategori}}</td>
                    <td>{{item.Keterangan}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5">
            <table>
                <tr>
                    <th>NISN</th>
                    <th width="300px">EKSTRAKURIKULER</th>
                    <th>KETERANGAN</th>
                </tr>
                <tr ng-repeat="item in DataNilai_Ekskul">
                    <td>{{item.NISN}}</td>
                    <td>{{item.Ekskul}}</td>
                    <td>{{item.Keterangan}}</td>
                </tr>
            </table>
        </div> -->
    </div>
    <a href="cetak.php" target="_blank">CETAK</a>
</div>
</div>
