<div class="panel panel-primary">
    <div class="panel-heading"><b>TAMBAH DATA PENILAIAN</b>
        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span></div>
    <div class="panel-body">
        <div class="col-md-12">
            <form role="form">

                <div class="row form-group">
                    <div class="col col-md-2">
                        <label for="disabled-input" class=" form-control-label">Wali Kelas</label>
                    </div>
                    <div class="col-12 col-md-3">
                        <select class="form-control"
                            ng-options="item.id_trxkelas as item.Nama_Guru for item in DataDetail track by item.id_trxkelas"
                            ng-model="Input.id_trxkelas"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2">
                        <label for="disabled-input" class=" form-control-label">Tahun Ajaran</label>
                    </div>
                    <div class="col-12 col-md-3">
                        <select class="form-control"
                            ng-options="item.id_tahun as item.Tahun_Ajar for item in DataTahun track by item.id_tahun"
                            ng-model="Input.id_tahun"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2">
                        <label for="disabled-input" class=" form-control-label">NISN</label>
                    </div>
                    <div class="col-12 col-md-3">
                        <input type="text" class="form-control" placeholder="NISN" ng-model="Cari"
                            ng-change="CariSiswa()">
                    </div>
                </div>

                <!-- MATA PELAJARAN -->
                <div class="row form-group" ng-show="TampilNilai">
                    <div class="col col-md-2">
                        <label for="disabled-input" class=" form-control-label">Mata Pelajaran</label>
                    </div>
                    <div class="col-12 col-md-3">
                        <table class="table">
                            <tr>
                                <th>Mata Pelajaran</th>
                                <th>Nilai Mata Pelajaran</th>
                                <th>Sakit</th>
                                <th>Izin</th>
                                <th>Alpha</th>
                            </tr>
                            <tr ng-repeat="item in DataNilai">
                                <td><label for="disable-input"
                                        class="form-control-label">{{item.Mata_Pelajaran}}</label></td>
                                <td>
                                    <input type="text" placeholder="Nilai" ng-model="item.Nilai">
                                </td>
                                <td>
                                    <input type="text" placeholder="Sakit" ng-model="item.Sakit">
                                </td>
                                <td>
                                    <input type="text" placeholder="Izin" ng-model="item.Izin">
                                </td>
                                <td>
                                    <input type="text" placeholder="Alpa" ng-model="item.Alpa">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- PERILAKU DAN KEPRIBADIAN -->
                <div class="row form-group" ng-show="TampilNilai">
                    <div class="col col-md-2">
                        <label for="disabled-input" class=" form-control-label">PERILAKU DAN KEPRIBADIAN</label>
                    </div>
                    <div class="col-12 col-md-3">
                        <table class="table">
                            <tr>
                                <th>Perilaku dan Kepibadian</th>
                                <th>Keterangan</th>
                            </tr>
                            <tr ng-repeat="item in DataNilai">
                                <td><label for="disable-input" class="form-control-label">{{item.Kategori}}</label></td>
                                <td>
                                    <input type="text" placeholder="Nilai" ng-model="item.Keterangan">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- EKSTRAKURIKULER -->
                <div class="row form-group" ng-show="TampilNilai">
                    <div class="col col-md-2">
                        <label for="disabled-input" class=" form-control-label">Ekstrakurikuler</label>
                    </div>
                    <div class="col-12 col-md-3">
                        <table class="table">
                            <tr>
                                <th>Ekstrakurikuler</th>
                                <th>Keterangan</th>
                            </tr>
                            <tr ng-repeat="item in DataNilai">
                                <td><label for="disable-input" class="form-control-label">{{item.Ekskul}}</label></td>
                                <td>
                                    <input type="text" placeholder="Nilai" ng-model="item.Keterangan">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- AKHIR -->
                <div class="row form-group">
                    <div class="col col-md-2"></div>
                    <div class="col-12 col-md-3">
                        <button ng-click="Simpan()" class="btn btn-primary">SIMPAN</button>
                        &nbsp;
                        <button ng-click="Clear()" class="btn btn-primary">CLEAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading"><b>DATA SISWA</b></div>
    <div class="panel-body">
        <div class="col-md-14">
            <!-- tampil kan data-->
        </div>
    </div>
</div>
<!-- end -->