<div class="panel panel-primary">
    <div class="panel-heading"><b>TAMBAH DATA KELAS</b>
        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span></div>
    <div class="panel-body">
        <div class="col-md-12">
            <form role="form">
                <div class="row form-group">
                    <div class="col col-md-2">
                        <label for="disabled-input" class=" form-control-label">Kelas</label>
                    </div>
                    <div class="col-12 col-md-3">
                        <input type="text" class="form-control" ng-model="Input.Kelas">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"></div>
                    <div class="col-12 col-md-3">
                        <button ng-click="Simpan()" class="btn btn-primary">SIMPAN</button>
                        &nbsp;
                        <button ng-click="Clear()" class="btn btn-primary">CLEAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading"><b>DATA KELAS</b></div>
    <div class="panel-body">
        <div class="col-md-14">
            <table class="table">
                <tr>
                    <th>ID Kelas</th>
                    <th>Kelas</th>
                    <th>Aksi</th>
                </tr>
                <tr ng-repeat="item in DataKelas">
                    <td>{{item.id_kelas}}</td>
                    <td>{{item.Kelas}}</td>
                    <td>
                        <button class="btn btn-success" ng-click="GetDataItem(item)">UBAH</button>
                        &nbsp;
                        <button class="btn btn-danger" ng-click="Hapus(item)">HAPUS</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>