<table>
        <tr>
            <td>NISN</td>
            <td>Mata Pelajaran</td>
            <td>Nilai</td>
            <td>Sakit</td>
            <td>Izin</td>
            <td>Alpa</td>
        </tr>
        <tr ng-repeat="item in DataNilai_Mapel">
            <td>{{item.NISN}}</td>
            <td>{{item.id_mapel}}</td>
            <td>{{item.Mata_Pelajaran}}</td>
            <td>{{item.Sakit}}</td>
            <td>{{item.Izin}}</td>
            <td>{{item.Alpa}}</td>
        </tr>
    </table>