<!DOCTYPE html>
<html lang="en" ng-app="Rapor">
<head>
        <style type="text/css">
        td{
            vertical-align: middle;
              text-align: center;
        }
            td .kiri { 
                vertical-align: middle;
                text-align: left;  
            }
          </style>
         
</head>

<body>
    <!-- AWAL -->
    <br><br>
    <center>
        <b>DAFTAR REKAPITULASI NILAI (LEGER)
        <br>
        HASIL CAPAIAN ULANGAN TENGAH SEMESTER 2 (GENAP)
        <br>
        TAHUN AJARAN 2015/2016
        </b>
    </center>
    <br>
    <!-- Kelas : VIII &nbsp;&nbsp; Semester : II (Genap)
    <table border="1px" cellpadding="0" cellspacing="0">
        <tr>
            <td rowspan="3" width="30px">NO</td>
            <td rowspan="3" width="100px">NISN</td>
            <td rowspan="3" width="200px">NAMA SISWA</td>
            <td rowspan="3" width="50px">L/P</td>
            <td colspan="13"width="580px">KKM / MATA PELAJARAN / NILAI</td>
            <td colspan="4" width="280px">PERILAKU DAN KEPRIBADIAN</td>
            <td colspan="4">ABSENSI</td>
            <td rowspan="3" width="120px">RANKING</td>
            <td colspan="2">PENGEMBANGAN DIRI</td>
        </tr>
        <tr>
            <td width="40px">AGM</td>
            <td width="40px">PKn</td>
            <td width="40px">BIN</td>
            <td width="40px">BIG</td>
            <td width="40px">MTK</td>
            <td width="40px">IPA</td>
            <td width="40px">IPS</td>
            <td width="40px">SB</td>
            <td width="40px">PJOK</td>
            <td width="40px">TIK</td>
            <td width="40px">ADT</td>
            <td rowspan="2" width="70px">Jumlah</td>
            <td rowspan="2" width="70px">Rata-rata</td>
            <td rowspan="2" width="70px">Akhlak</td>
            <td rowspan="2" width="70px">Krjn</td>
            <td rowspan="2" width="70px">Kdspln</td>
            <td rowspan="2" width="70px">Kbrshn</td>
            <td rowspan="2" width="40px">S</td>
            <td rowspan="2" width="40px">I</td>
            <td rowspan="2" width="40px">A</td>
            <td rowspan="2" width="40px">Jml</td>
            <td rowspan="2" width="70px">Pramuka</td>
            <td rowspan="2" width="70px">Drum Band</td>
        </tr>
        <tr>
            <td>75</td>
            <td>75</td>
            <td>75</td>
            <td>70</td>
            <td>70</td>
            <td>70</td>
            <td>70</td>
            <td>75</td>
            <td>75</td>
            <td>70</td>
            <td>75</td>
        </tr>
        <tr>
            <td>1.</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
                <td colspan="4"><b>RATA-RATA KELAS</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="4">-</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="3">-</td>
        </tr>
    </table>
    <br><br><br>
    Mengetahui  Nabire, 22 Maret 2015
    <br>
    Kepala Sekolah</p>
    <br><br><br><br>
    P. MUSENDI, S.Pd, M.Pd
    <br>
    NIP. 19630916 198411 1 002 -->
    <!-- AKHIR -->

    <table>
            <tr>
                <th>NISN</th>
                <th>MATA PELAJARAN</th>
                <th>NILAI</th>
                <th>SAKIT</th>
                <th>IZIN</th>
                <th>ALPA</th>
                <th>KATEGORI</th>
                <th>NILAI</th>
                <th>EKSTRAKURIKULER</th>
                <th>NILAI</th>
            </tr>
            <tr ng-repeat="item in Data DataNilai_Mapel">
                <td>{{item.NISN}}</td>
                <td>{{item.Mata_Pelajaran}}</td>
                <td>{{item.Nilai}}</td>
                <td>{{item.Sakit}}</td>
                <td>{{item.Izin}}</td>
                <td>{{item.Alpa}}</td>
                <td>{{item.Kategori}}</td>
                <td>{{item.Keterangan}}</td>
                <td>{{item.Ekskul}}</td>
                <td>{{item.Keterangan1}}</td>
            </tr>
        </table>

    <script>
        window.print()
    </script>
    <!-- script -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/chart-data.js"></script>
    <script src="js/easypiechart.js"></script>
    <script src="js/easypiechart-data.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>