<div class="panel panel-primary">
    <div class="panel-heading"><b>DAFTAR NILAI SISWA</b>
        <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span></div>
    <div class="panel-body">
        <div class="col-md-12">
            <table class="table">
                <tr>
                <tr>
                    <th>ID Rapor</th>
                    <th>ID Wali Kelas</th>
                    <th>NISN</th>
                    <th>Aksi</th>
                </tr>
                <tr ng-repeat="item in DataRapor">
                    <td>{{item.id_detail}}</td>
                    <td>{{item.id_trxkelas}}</td>
                    <td>{{item.NISN}}</td>
                    <td>
                        <button class="btn btn-success" ng-click="GetDataItem(item)">UBAH</button>
                        &nbsp;
                        <button class="btn btn-danger" ng-click="Hapus(item)">HAPUS</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>