<H2>ADD NEW SISWA</H2>
<div class="">
    <form>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="disabled-input" class=" form-control-label">NISN</label>
            </div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" ng-model="Input.NISN">
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="disabled-input" class=" form-control-label">Nama Siswa</label>
            </div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" ng-model="Input.Nama_Siswa">
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="disabled-input" class=" form-control-label">Jenis Kelamin</label>
            </div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" ng-model="Input.NISN">
                <select class="form-control" ng-options="item.jk as item.jk for item in JK track by item.jk"
                    ng-model="Input.Jenis_Kelamin" ng-change="Pilih()"></select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="disabled-input" class=" form-control-label">Nama Orang Tua</label>
            </div>
            <div class="col-12 col-md-3">
                <input type="text" class="form-control" ng-model="Input.Nama_Ortu">
            </div>
        </div>
        <div class="row form-group">
            <button ng-click="Simpan()" class="btn btn-primary">Simpan</button>
        </div>
    </form>
    <table>
        <tr>
            <td>NISN</td>
            <td>Nama Siswa</td>
            <td>Jenis Kelamin</td>
            <td>Nama Orang Tua</td>
        </tr>
        <tr ng-repeat="item in DataSiswa">
            <td>{{item.NISN}}</td>
            <td>{{item.Nama_Siswa}}</td>
            <td>{{item.Jenis_Kelamin}}</td>
            <td>{{item.Nama_Ortu}}</td>
        </tr>
    </table>
</div>